*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    --dbbg: rgb(2,17,23);
}

#navmore{
    background-color: rgb(54,179,235) !important;
    
}
.logo{
    width: 350px;
}
#navstyle{
    background-color: var(--dbbg);
    margin-top: -10px;
}
.navbtns{
    color: white !important; 
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

#homebtn{
    margin-left: 90px;
}
.navbtns:hover{
    color: yellow !important;
}

#home{
    margin-top: -10px;
    width: 100%;
    height: 86.8vh;
    background-image: url('./Media/home.jpg');
    background-size: cover;
}
#homecont{
    font-family: "Encode Sans Expanded", sans-serif;
    font-size: 25px;
}
#applink{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
.applink:target{
    background-color: orangered;
    border-color: orangered;
}
.offhead{
    background-color: var(--dbbg);
}
.appbody{
    height: 100%;
    width: 100%;
    text-align: center;
}
.appbody button{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--dbbg);
}
.appopt{
    text-decoration: none;
    font-family: "Poppins", sans-serif !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    background-color: var(--dbbg) !important;
}
.appopt:hover{
    background-color: white !important;
    font-size: 22px !important;
    color: var(--dbbg) !important;
    border: 1px solid var(--dbbg) !important;
}
#about{
    width: 100%;
    height: 50px;
}
#abthead{
    text-align: center;
    font-size: 80px;
}
.abtcont p{
    text-align: justify;
    color: rgb(82, 82, 82);
}
.abtcont span{
    color: black;
    font-weight: bold;
}
.abtimg{
    border: 4px solid rgb(82, 82, 82);
    height: 300px;
    width: 100%;
}
#helpine{
    padding: 50px;
    width: 100%;
    background-image: url('./Media/helpline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
    display: flex;
}
.callbox{
    background-color: rgba(0, 0, 0, 0.527);
    width: 60%;
    padding: 0px;
    border-radius: 8px;
}
.cont{
    text-align: center;
    color: white;
}

.callbox ul{
    list-style: none;
    color: white;
    font-size: 10px;
}

#suggest{
    background-color: var(--dbbg);
    width: 100%;
    /* height: 100vh; */
    padding: 30px 70px;
}
@media(max-width:992px){
    .cont{
        font-size: 5px;
    }
    #applink{
        font-size: 8px;
        font-weight : 400;
    }
    #helpline{
        padding: 10px;
    }
    .callbox ul{
        font-size: 5px;
    }
    .callbox i{
        font-size: 40px;
    }
    .callbox h1{
        font-size: 23px;
    }
    .subsug{
        width: 75% !important
    }
}
.subsug{
    width: 25%;
}
.footer{
    background-color: var(--dbbg);
}
.social{
    margin-top: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    /* border: 1px solid; */
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.social a:hover{
    color: #0d6efd;
    background-color: white;
    font-size: 45px;
    animation: shake 1.5s infinite;
}
.appnav{
    width: 60%;
    height: 10vh;
    background-color: var(--dbbg);
    display: flex;
    justify-content: space-between;
}
.appnav img{
    width: 30%;
}
.appnav a{
    text-decoration: none;
    color: white !important; 
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.anit:hover{
    color: yellow;
}
@media(max-width:992px){
    .appnav{
        width: 90%
    }
    .appnav img{
        width: 50%;
    }
    .appnav a{
        font-size: 10px;
    }
}
.sitelinkhead{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color:var(--dbbg);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.headbody{
    width: 60%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headbody h1{
    font-size: 50px;
}
@media(max-width:992px){
    .headbody{
        width: 80%;
    }
    .headbody h1{
        font-size: 20px;
    }
    .titem{
        margin-left: 30px;
        height: 50px;
    }
    .bookingcom{
        margin-top: 5px;
        font-size: 20px !important; 
    }
}
.logotxt{
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: 600;
}
.titem{
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titem:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transform: scale(1.4);
}
.bookingcom{
    font-family: "Lexend", sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.listapphead{
    width: 100%;
    background-color:var(--dbbg);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.appcards{
    display: flex;
}
.appimg{
    height: 200px;
}
.card:hover{
    transform: scale(.9);
}
.clk:hover{
    background-color: darkgreen !important;
}
.appimge{
    height: 177px;
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
}